{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/gallery.css' %}">

<div class="gallery-page">

  <!-- TITLE -->
  <div class="gallery-header">
    <h1>
      Exquisite <br>
      <span>Collections.</span>
    </h1>
  </div>

  <!-- FILTER -->
  <div class="gallery-filters">

    <button class="active" onclick="filterImages('all')">All</button>

    {% for cat in categories %}
      <button onclick="filterImages('{{ cat.id }}')">
        {{ cat.name }}
      </button>
    {% endfor %}

  </div>

  <!-- GRID -->
  <div class="gallery-grid">

    {% for img in images %}
    <div class="gallery-card" data-category="{{ img.category.id }}">

      <img src="{{ img.image }}" onclick="openLightbox('{{ img.image }}')">

    </div>
    {% endfor %}

  </div>

  <!-- LIGHTBOX -->
<div id="lightbox" class="lightbox" onclick="closeLightbox()">
  <span class="close-btn">&times;</span>
  <img id="lightbox-img">
</div>

</div>

<script>
function filterImages(category) {
  const cards = document.querySelectorAll('.gallery-card');

  cards.forEach(card => {
    if (category === 'all' || card.dataset.category === category) {
      card.style.display = 'block';
    } else {
      card.style.display = 'none';
    }
  });

  // active button
  document.querySelectorAll('.gallery-filters button')
    .forEach(btn => btn.classList.remove('active'));

  event.target.classList.add('active');
}

function openLightbox(src) {
  const lightbox = document.getElementById("lightbox");
  const img = document.getElementById("lightbox-img");

  lightbox.style.display = "flex";
  img.src = src;
}

function closeLightbox() {
  document.getElementById("lightbox").style.display = "none";
}

</script>

{% endblock %}